/* Base styles */
body {
  background-color: #ebf0f1 !important;
  font-family: 'Montserrat', sans-serif !important;
}

/* Header */
header nav {
    padding: 7px 0;
}

header nav a {
    color: #fff !important;
}

.bg-utpl {
    background-color: #173f5f;
}

h1 {
    font-size: 2.2em !important;
}

.logged-username {
    font-size: 0.8em !important;
    color: rgba(255,255,255,0.7) !important;
}

.nav-link:hover, .nav-link:hover .logged-username {
    color: rgba(255,255,255,0.4) !important;
}

/* Dashboard */

#dashboard-header {
  margin-top: 20px;
  padding-bottom: 1px;
  border-bottom: thin solid rgba(50,50,50,.2);
}

#dashboard-header h1 {
    font-size: 2em !important;
}

.download-submissions i {
  margin-left: 10px;
  vertical-align: middle;
}

.card {
  background-color: #f4f9f8 !important;
  padding: 10px 15px;
  margin: 25px 0 0 0;
  min-height: 260px;
  border: none !important;
  box-shadow: 0 10px 8px -4px rgba(0,0,0,.1);
  transition: all .9s;
}

.card:hover {
  box-shadow: 0 11px 8px -2px rgba(0,0,0,.2);
}

.card-heading h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.card-value {
  font-size: 1.8em;
}

.card-value div {
  margin: 30px 8px;
}

.card-value span {
  color: rgba(0,0,0,.5);
  font-size: 1.3rem;
  padding: 0 0 0 5px;
}

.card-value p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card-value .row {
  height: 40px;
  line-height: 40px;
}

.chart-container > div{
  height: 230px !important;
}

.card-right-border {
  border-right: 1px solid rgba(100,100,100,.1);
}

/* Summary dashboard */
.summary-dashboard {
  padding-bottom: 50px;
}

.parallel-card-body {
  height: 350px;
}

.menu-option {
  width: 48%;
  margin-left: 5px;
}

.menu-option i {
  float: right;
  vertical-align: middle;
}

.form-summary-data {
  padding: 10px;
  text-align: center;
}

.form-summary-data span{
  display: block;
  margin-top: 12px;
  font-size: 1.2em;
}

.form-summary-data p {
  padding-bottom: 9px;
  color: #3584bb;
  font-size: 2.3em;
}

.form-summary-data p:last-child {
    font-weight: bold;
    font-size: 1.4em;
}

.form-stats {
  background-color: rgba(200,200,200,.2);
  text-align: center;
  padding: 20px 0;
}

._loading_overlay_overlay {
    background-color: #173f5f99 !important;
}

/* Device specific breakpoints */
@media (max-width: 1199px) {
    .menu-option {
        font-size: 0.9em !important;
    }

    .form-summary-data p:last-child {
        font-size: 1.3em;
    }
}

@media (max-width: 991px) {
    #dashboard-header {
        border: none;
    }

    .menu-option i {
        float: none;
        display: block;
        margin-top: 4px;
    }

    .form-summary-data {
        height: auto !important;
    }

    .form-summary-data p, .form-summary-data span {
        margin: 0;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 1.7em !important;
        text-align: center;
    }

    #dashboard-header h1 {
        font-size: 1.5em !important;
    }

    .menu-option {
        font-size: .7em !important;
    }

    .menu-option i {
        font-size: 1.5em;
    }
}
