/* Base styles */
body {
  background-color: #ebf0f1 !important;
  font-family: 'Montserrat', sans-serif !important;
}

/* Header */
header {
  background-color: #173f5f;
  padding: 7px 0;
  color: #fff;
}

/* Dashboard */

#dashboard-header {
  margin-top: 20px;
  padding-bottom: 1px;
  border-bottom: thin solid rgba(50,50,50,.2);
}

.download-submissions i {
  margin-left: 10px;
  vertical-align: middle;
}

.card {
  background-color: #f4f9f8 !important;
  padding: 10px 15px;
  margin: 25px 0 0 0;
  min-height: 260px;
  border: none !important;
  box-shadow: 0 10px 8px -4px rgba(0,0,0,.1);
  transition: all .9s;
}

.card:hover {
  box-shadow: 0 11px 8px -2px rgba(0,0,0,.2);
}

.card-heading h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.card-value {
  font-size: 1.5em;
}

.card-value div {
  margin: 12px;
}

.card-value span {
  color: rgba(0,0,0,.5);
  font-size: 1rem;
}

.card-value p {
  margin: 0;
}

.card-value .row {
  height: 40px;
  line-height: 40px;
}

.chart-container > div{
  height: 230px;
}

.card-right-border {
  border-right: 1px solid rgba(100,100,100,.1);
}

/* Summary dashboard */
.summary-dashboard {
  padding-bottom: 50px;
}

.form-stats {
  background-color: rgba(200,200,200,.2);
  text-align: center;
  padding: 20px 0;
}
